* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #333;
    background-color:hsla(240,24%,26%,1);
    background-image:
    radial-gradient(at 87% 65%, hsla(107,3%,7%,1) 0px, transparent 50%),
    radial-gradient(at 99% 0%, hsla(71,4%,4%,1) 0px, transparent 50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div#root header {
    text-align: center;
    padding: 20px 0;
    background: #f5f5f5;
}

div#root div.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

div#root div.user-list ul {
    width: 30%;
}

div#root div.user-list ul li {
    padding: 10px;
    margin: 5px;
    background-color: #f5f5f5;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

div.single-user img {
    display: inline-block;
    width: 120px;
    border-radius: 50%;
    vertical-align: middle;
}

div.single-user div.user-info {
    display: inline-block;
    width: 50%;
    margin-left: 10px;
    vertical-align: middle;
}

/* Global_Mobile */

@media screen and (max-width: 1012px) and (min-width: 299px) { 

    div#root div.user-list ul {
        padding: 0;
        width: 75%;
    }

    div.single-user div.user-info {
        width: 100%;
        margin-left: 0;
    }

}